<div class="full-height  flex center-center m-t-50 gap2">
    <div class="width-95 full-height flex gap5">
        <div class="image-container flex gap1">
            <div class="full-height">
                <img src="../../../assets/images/images/image 1.jpg" alt="">
            </div>
            <div class="height-90 flex flex-end">
                <img src="../../../assets/images/images/image 4.jpg" alt="">
            </div>
        </div>
        <div class="width-50 left-container">
            <h4>THE BEST LUXURY HOTEL</h4>
            <p class="luxury-p">
                Find the right Apartment
                Hotel & Resort for you
            </p>
            <p>
                Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage,
                combined with specialist services
            </p>
            <div class=" flex column gap1">
                <div class="flex center-center gap1 icon-text">
                    <div class="flex gap1 width-95 height-60">
                        <img src="../../../assets/images/icons/icon2.png" alt="">
                        <div class="text-container">
                            <p>5 Star Hotel In World</p>
                            <p>luxury properties that offer top-notch services, beautiful facilities, and personalized
                                service</p>
                        </div>
                    </div>
                </div>
                <div class="flex center-center gap1 icon-text">
                    <div class="flex gap1 width-95 height-60">
                        <img src="../../../assets/images/icons/icon5.png" alt="">
                        <div class="text-container">
                            <p>Best Environment</p>
                            <p>We combines comfort, functionality, and aesthetic appeal to create a memorable experience for our guests.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>