$bg-color: #dba765;
$w-color: white;

mat-toolbar {
    height: 50px;
    background-color: $bg-color;
}

small {
    font-size: small;
    color: $w-color;
}

mat-icon {
    font-size: small;
    color: $w-color;
}

img {
    height: 17px;
    height: 17px;
}


